Makefile
Makefile.in
*.o
*.a
.deps
/config.h
/config.h.in
/config.status
/config.log
/configure
/aclocal.m4
/autom4te.cache
/compile
/depcomp
/install-sh
/missing
/config.guess
/config.sub
/libtool
/ltmain.sh
/stamp-h1
/GITREVISION
/Socket/.libs/*
/Socket/*.lo
/Socket/*.la
/src/tcp-intercept
