Makefile
Makefile.in
*.o
*.a
.deps
/ABOUT-NLS
/config.h
/config.h.in
/config.status
/config.log
/configure
/aclocal.m4
/autom4te.cache
/compile
/depcomp
/install-sh
/missing
/config.guess
/config.sub
/config.rpath
/libtool
/ltmain.sh
/stamp-h1
/GITREVISION
/m4
/Socket/.libs/*
/Socket/*.lo
/Socket/*.la
/src/tcp-intercept
/po/*.pot
/po/*.gmo
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
