Source: tcp-intercept
Section: net
Priority: optional
Maintainer: Niels Laukens <niels.laukens@vrt.be>
Build-Depends: debhelper (>= 9.0.0), autotools-dev, dh-autoreconf,
 libsimplelog-dev, libev-dev, libdaemon-dev
Standards-Version: 3.9.3
Homepage: https://github.com/VRT-onderzoek-en-innovatie/tcp-intercept
Vcs-Git: git://github.com/VRT-onderzoek-en-innovatie/tcp-intercept.git
Vcs-Browser: https://github.com/VRT-onderzoek-en-innovatie/tcp-intercept

Package: tcp-intercept
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Intercept TCP-sessions with help of tproxy
 This program is designed to intercept TCP connections passing through this
 box. This can be set up using the TPROXY-target of iptables, together with the
 appropriate ip route setup.  See kernel/Documentation/networking/tproxy.txt
 for details.
